<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crookies</title>

    <link rel="shortcut icon" type="image/png" href="/images/Petalart-Christmas-Cookie-Gingerbread-stars.ico"/>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/product_layout.css" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/scripts/app.js"></script>
   <script type="text/javascript" src="/scripts/bootstrap.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
   <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

    <body>
      <main>
        <br>
        <br>
        <br>
        <br>
        <div class="product-list">
          <% include ../views/partial/_header %>
          <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';
                                                document.getElementById('fade').style.display='block'">
            <div class="container">
              <button type="button" class="btn btn-success ribbon">Custom Crookie</button>
            </div>
          </a>
          <div id="light" class="white_content">
            <form action="/custom" method="post">
              </br>
              <button class="btn btn-lg btn-danger" type="subit" value="Extra Spicy Crookie">Extra Spicy</button>
              </br>
              <button class="btn btn-lg btn-success" type="subit" value="Extra Salty Crookie">Extra Salty</button>
              </br>
              <button class="btn btn-lg btn-danger" type="subit" value="Extra Sour Crookie">Extra Sour</button>
              </br>
              <button class="btn btn-lg btn-success" type="subit" value="Extra Bitter Crookie">Extra Bitter</button>
            </form>
            <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';
                                                  document.getElementById('fade').style.display='none'">
              Close</a>
          </div>
          <div id="fade" class="black_overlay"></div>
        </div>
        <div id="productbox">
          <% products.forEach( (product) => { %>
            <%- include('partial/_product', {product: product}); %>
          <% }); %>
        </div>
      </main>
    <h1 class="break">   </h1>
    <footer>
      <% include ../views/partial/_footer %>
    </footer>
  </body>


</html>
