<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order receipt</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/product_layout.css" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/scripts/receipt.js"></script>
   <script type="text/javascript" src="/scripts/app.js"></script>
   <script type="text/javascript" src="/scripts/bootstrap.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
   <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>
    <% include ../views/partial/_header %>
    <main>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Order confirmation</h1>
          <p class="lead">The crookies team thanks you.</p>
          <hr class="m-y-md">
          <p>Buy more crookies by clicking the button below!</p>
            <p class="lead">
              <a class="btn btn-success btn-lg" href="/products" role="button">Visit Now</a>
            </p>
          </div>
        </div>

    </main>
    <footer>
      <% include ../views/partial/_footer %>
    </footer>
  </body>
