<div class="container">
  <div class="row">
    <div class="col-sm-3 featured">
      <a href="/products/1"><img class="img-circle" src="/images/xmas-santa.jpg" alt="Smiley face" height="300" width="300"></a>
      <h1>Spicy Santa</h1>
    </div>
    <div class="col-sm-3 featured">
      <a href="/products/2"><img class="img-circle" src="/images/xmas-snowman.jpg" alt="Smiley face" height="300" width="300"></a>
      <h1>Salty Snowmen</h1>
    </div>
    <div class="col-sm-3 featured">
      <a href="/products/3"><img class="img-circle" src="/images/xmas-elf.jpg" alt="Smiley face" height="300" width="300"></a>
      <h1>elFISH</h1>
    </div>
    <div class=" col-sm-3 featured">
      <a href="/products/8"><img class="img-circle" src="/images/xmas-gingerman.jpg" alt="Smiley face" height="300" width="300"></a>
      <h1>Big Mean Gingerman</h1>
    </div>
  </div>
</div>
