<div class="container feature">
    <div class="row">
    <div class="col-md-4">
      <img class ="img-circle" src="http://thebearfootbaker.com/wp-content/uploads/2013/12/Santa-Cookies-via-www.thebearfootbaker.com_.jpg" alt="Smiley face" height="300" width="300">
      <h1>Santa Crookies</h1>
    </div>
    <div class="col-md-4">
      <img class ="img-circle" src="https://roseleablog.files.wordpress.com/2013/11/048-21.jpg" alt="Smiley face" height="300" width="300">
      <h1>Gingerbread Crookies</h1>
    </div>
      <div class="col-md-4">
        <img class ="img-circle" src="https://s-media-cache-ak0.pinimg.com/236x/55/2e/9b/552e9be8116c564641d6e4a84e7ff7e0.jpg" alt="Smiley face" height="300" width="300">
        <h1>Reindeer Crookies</h1>
  </div>
</div>
</div>
