    	<!-- BEGIN PRODUCTS -->
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img class="hello" src="<%= product.image %>" alt="...">
              <article class="col-item">
            <div class="options">
        			<button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Share">
        				<i class="fa fa-exchange"></i>
        			</button>
        		</div>
        		<div class="options-cart">
        			<button class="btn btn-default" title="Add to cart">
        				<span class="fa fa-shopping-cart"></span>
        			</button>
        		</div>
          </article>
      			<h4><%= product.name %></h4>
      			<p><%= product.description %></p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$<%= product.unit_price %></p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>

      			</div>
    		</span>
  		</div>
  		<!-- END PRODUCTS -->
