</br>
</br>
</br>
</br>
</br>
</br>
<div class="container">
  <div class="row product">
    <div class="col-md-5 col-md-offset-0">
      <img src="<%= product.image %>" class="img-responsive" alt="Product Image" />
    </div>
    <div class="col-md-7">
      <h2 class="title"><%= product.name %></h2>
      <p><%= product.description %></p>
      <select>
        <option value selected>Choose Quantity</option>
          <option value="1">1</option>
          <option value="6">6</option>
          <option value="12">12</option>
          <option value="24">24</option>
      </select>
      <div class="alert alert-success" role="alert">
        <span>
          <strong>Alert</alert>
            "text."
        </span>
      </div>
      <h3>$<%= product.unit_price %></h3>
      <button class="btn btn-primary" type="button">Add to cart</button>
    </div>
    </div>
    <div class="page-header">
      <h3>Reviews
        <buttton class="btn btn-primary write-review" type="button">Write a review</button>
      </h3>
    </div>
        <h3>Love this!</h3>
        <p>These were fantastic cookies, without a doubt. I did lessen the white sugar to 1/2 cup and increase the brown sugar to 1 1/2 cups for a richer flavor. I also recommend using Trader Joe's Vanilla Paste, but that's just a preference. However, if you want the perfect cookie, be sure to chill your dough for at least an hour (2 hours is better) and they will come out even. I baked at 325 for about 12 minutes. On Silpat or parchment paper, they'll turn out fabulous every time. I am sending them to work with my fiance to keep me from eating three dozen of them! :)<p>
          <span class="reviewer-name">
            <strong>John Doe</strong>
          </span>
          <span class="review-date">7 Oct 2015</span>
        <p>
  </div>
