.feature {
  position: relative;
  border-radius: 50%;
  margin: 100px;
}

.col-md-4 h1 {
  color: #d04764;
  font-family: cursive;
  font-size: 36px;
  font-weight: 200;
  line-height: 48px;
  margin: 0 0 18px;
  text-shadow: 1px 0 0 #fff;
  overflow: auto;
}
