@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


h3 {
  align-content: center;
  align-self: center;
  text-align: center;
}

img.img-responsive {
  max-width: 250%;
}

h4.nomargin {
  margin-left: 30px;
}

.footer1 {
    position: fixed !important;
}
