.navbar-default .navbar-text {
    color: white !important;
    font-weight: 400;
}

.navbar-default .navbar-text a{
    color: white !important;
    font-weight: 400;
}
.navbar-default {
  background-color: #3C8D0D !important;
  height: 10px !important;
  position: fixed !important;
  bottom: 0 !important;
  float:left !important;
}
