.navbar-default .navbar-text {
    color: white !important;
    font-weight: 400;
}

.navbar-default .navbar-text a{
    color: white !important;
    font-weight: 400;
}
.navbar-default {
  background-color: #45baae !important;
  position: absolute;
  height: 10px !important;
  bottom: 0 !important;
  float:left !important;
}
