.footer1 {
  background-color: #3C8D0D;
  position: relative;
  height: 50px;
  width: 100%;
  bottom: 0;
  float:left;
}

.footer1 p {
  color: white;
  font-weight: 400;
  padding-left: 50px
}

.footer1 a{
  color: white;
  font-weight: 400;
  padding-right: 50px
}
